---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="w-full h-10 px-5 py-7 bg-red-500 drop-shadow flex flex-row items-center"
    >
      <a href="/">
        <h1 class="font-title text-white text-3xl">A. N. Field</h1>
      </a>
    </header>
    <main class="p-10">
      <slot />
    </main>
  </body>
</html>
